*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}


article{
    width: 950px;
}

nav ul{
    display: flex;
    background-color: #F3F3F3;
    padding: 15px;
}
nav ul li{
    list-style: none;
    margin-right: 14px;
    font-weight: bolder;
}
.firstchild{
    margin-left: 80px;
    color: #005CEF;
}
.vermelho{
    color:#A80000;
}
.verde{
    color:#06AA48;
}
.laranja{
    color:#FC9F44;
}
.azul{
    color: #005CEF;
}
nav ul a{
    text-decoration: none;
}
header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #C4170C;
    width: 100%;
    padding: 13px;
}
header img{
    width: 42px;
    height: 42px;
}
header p{
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
}

header form input[type=text]{
    width: 125px;
    margin-left: -35px;
    text-align: center;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.171);
}
header form input[type=text]::placeholder{
    color: #fff;
    text-transform: uppercase;
}
header form button{
    padding: 5px;
    border: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0) ;
    border-radius: 5px;
}
main{
    width: 950px;
    margin: auto;
}
article{
    margin-top: 70px;
}
main h1{
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: -0.15625rem;
    text-align: left;
}
.legenda-titulo{
    font-size: 1.1rem;
    line-height: 1.75rem;
    color: #555;
    margin: 30px 0;
}
.creditst{
    margin: 10px 0;
    font-size: 14px;
}
.credits{
    font-weight: 700;
    margin: 15px 0;
    color:#555 ;
    font-size: 12px;
}
hr{
    margin: 50px 0;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.corpo{
    width: 643px;
    margin-left: auto;
    margin-right: auto;
}

.corpo h2{
    font-size: 2em;
}

.paragrafo{
    font-size: 1.2em;
    line-height: 2rem;
    margin: 30px 0;
}
a{
    text-decoration: none;
    font-weight: bolder;
    color: #C4170C;
}
a:hover{
    text-decoration: underline;
    color: #A61356;
}
abbr[globo.com]{
    border-bottom: none;
}
aside ul li{
    font-size: 1.2em;
    line-height: 2rem;
    margin: 15px 0;
}
footer{
    background-color: #C4170C;
    padding: 15px;
}
footer p{
    color: #fff;
    text-align: center;
}

footer img{
    width: 42px;
    height: 42px;
}

@media (max-width:970px){
    nav{
        width: 100%;
        display: block;
    }

    nav ul{
        justify-content: center;
    }

    .firstchild{
        margin-left: 0px;
        color: #005CEF;
    }

    header{
        width: 100%;
    }

    article{
        width: 100%;
        margin-top: 0px;
        padding: 20px;
    }
    main{
        width: 100%;
        padding: 20px;
    }
    .corpo{
        width: 100%;
        padding: 20px;
    }
    .corpo img{
        width: 100%;
        padding: 20px;
    }
    article img{
        width: 100%;
        padding: 20px;
    }
    header form input[type=text]{
        display: none;
    }
    header form button{
        width: 100%;
    }
    header p{
        margin: auto;
    }
    article h1{
        font-size: 2rem;
    }
}